@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

html {
  scroll-behavior: smooth;
  scrollbar-width: none
}

:root {
  --primary-color: #0B0B0B;
  --text-color: #ffffff;
  --hyper-link-color: #716f6f;
}

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  -ms-overflow-style: none
}

body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; }

header {
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  padding: .5em 1%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--text-color);
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  text-align: center;
  color: var(--text-color);
  padding: .5em;
  font-size: .8em;
  font-weight: 300;
}
nav ul li a:hover {
  font-style: italic;
}

section {
  padding: 3em 1%;
  min-height: 100vh;
  border-bottom: 2px solid var(--text-color);
}

/* (section1) home */
#home{
  display: flex; 
  justify-content: space-between;
}

.text-box{
  text-align: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-box p {
  margin: 2.5em;
  letter-spacing: 1px;
  word-spacing: .3em;
}

#main-title, #name-title  {
  font-size: 6em;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

#name-title a {
  text-decoration: none;
  color: var(--text-color);
}

h1 {
  margin: .5em .3em;
  font-size: 3em;
  line-height: 1;
  letter-spacing: 0.5px;
  word-spacing: 4px;
}

h2 {
  margin: 0 .5em;
  letter-spacing: 0.5px;
  font-size: 2em;
}

.social-icons {
  position: absolute;
  bottom: 0;
  font-size: 1.5em;
  margin: auto;
}

.social-icons a {
  margin-right: 0.5em;
  color: var(--text-color)
}

.social-icons a:hover {
  color: var(--hyper-link-color);
}

.contact-social-icons {
  position: relative;
  bottom: 0;
}

.hyper-link{
  font-weight: 500;
  color: var(--text-color);
}
.hyper-link:hover {
  text-decoration: none;
  color: var(--hyper-link-color);
}

#contact {
  display: flex;
  padding-top: 5em;
  border-bottom: none;
}

.mobile {
  display: none;
}

.right, .left {
  width: 50%;
}

.left div {
  bottom: 0;
  margin-top: 5em;
}

form {
  background-color: var(--text-color);
  color: var(--primary-color);
  padding: 1em;
  max-width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

input, label {
  padding: .2em;
  font-size: 1.5em;
  display: block;
  width: 100%;
}

.section-title {
  text-align: center;
}

textarea {
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  width: 100%;
  max-width: 100%;
  max-height: 6em;
  min-height: 6em;
  padding: .2em;
}

.required {
  color: red;
}

#submit-button {
  margin: .5em auto 0;
  width: fit-content;
  padding: .2em 1em;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 10px;
  cursor: pointer;
}

#submit-button:hover{
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--text-color);
  transition: .5s ease-out;
}

footer {
  border-top: 2px solid var(--text-color);
  text-align: center;
  padding: 1em;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p a {
  text-decoration: none;
  font-weight: bold;
  color: var(--hyper-link-color);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.line {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .hamburger {
      display: block;
  }

  .hamburger.active .line:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .line:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .line:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

  nav ul {
      position: fixed;
      left: -100%;
      top: 40px;
      gap: 0;
      flex-direction: column;
      background-color: var(--primary-color);
      width: 100%;
      text-align: center;
      transition: 0.3s;
  }

  nav ul.active {
      left: 0;
  }

  nav ul li {
      margin: 16px 0;
  }

  #contact{
    flex-direction: column;
  }
  #name-title{
    display: none;
  }
  .right, .left{
    width: 100%;
    /* text-align: center; */
  }
}

@media screen and (max-width: 476px) {
  #main-title{
    font-size: 4em;
  }

  .text-box p{
    margin: 2em .5em;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    text-align: center;
  }

  .contact-social-icons{
    width: 100%;
    margin: 3em auto;
  }

  .center-icons {
    width: 100%;
  }

  form {
    margin-bottom: 1em;
  }
}

